body {
    font-family: 'Monda', sans-serif;
    margin: 0 auto;
    max-width: 100%;
    width: 1920px;
}

.App {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 1080px;
    background: url('./../img/1-background.png') no-repeat;
    background-size: cover;
}

.App2 {
    background: url('./../img/2-background.png') no-repeat;
    background-size: cover;
}
