body {
    font-family: 'Monda', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 30px;
    background-image: url("C:\project\shop-react\src\img\1-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
