  .main {
    position: relative;
    width: 1920px;
    max-width: 100vh;
    height: 100vh;
    max-height: 1080px;
  }

  .main_photo {
    position: absolute;
    top: 6%;
    left: 100vh;

    width: 70%;
    height: 70%;

    border-radius: 8vh;
    box-shadow: rgb(139, 137, 137);
  }

  .purple_form {
    position: absolute;
    top: 15%;
    left: 43%;

    width: 70%;
    height: 45%;

    background-color: rgba(239, 225, 246, 0.8);
    
    /* box-shadow: 0px 5px 8px 0px rgb(139, 137, 137); */
    box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.6);
    border-radius: 6vh;
  }

  .purple_button {
    position: absolute;
    left: 10%;
    bottom: 20%;

    width: 37%;
    height: 16%;
    background: linear-gradient(to right, #eea6fa, #d5a4f8);
    /* box-shadow: 0px 5px 8px 0px rgb(139, 137, 137); */
    box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.6);
    border-radius: 2vh;
    color: white;
    font-size: calc(6px + 1vw);
    text-align: center;
  }

  .purple_button:hover {
    background: linear-gradient(to right, #f2b4fd, #ddb6fa);
  }

  .main__text {
    position: absolute;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, rgba(238, 166, 250, 1), rgba(213, 164, 248, 1), rgba(154, 161, 245, 1));
  }

  h1 {
    padding-left: 10%;
    padding-top: 13%;
    margin-bottom: 5%;
    
    font-size: calc(2px + 2vw);
    font-weight: 600;
  }

  .purple_widget {
    opacity: 80%;
  }

  .main__next_button {
    position: absolute;
    left: 95vh;
    bottom: 20%;

    width: 13%;
    height: 13%;

    color: black;
    border-radius: 100%;
    background-color: rgba(241, 242, 246, 1);
    /* box-shadow: 0px 5px 8px 0px rgb(139, 137, 137); */
    box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.6);
    transition: background .1s linear, color .1s linear;

    z-index: 1000;

  }
.main__next_button:hover {
  background-color: rgba(228, 229, 235, 1);
}

  .main__next_button img {
    width: 40%;
  }
