  .main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
    position: relative;
  }

  .main_photo {
    position: absolute;
    width: 40%;
    top: 100%;
    right: 258px;
    border-radius: 59px;
    box-shadow: rgb(139, 137, 137);
  }

  /* .purple_form {
    position: absolute;
    left: 260px;
    top: 165px;
    background-color: rgba(239, 225, 246, 0.8);
    box-shadow: 0px 5px 8px 0px rgb(139, 137, 137);
    width: 100%;
    height: 100%;
    width: 794px;
    height: 484px;
    border-radius: 59px;
  } */

  .purple_button {
    position: absolute;
    left: 92px;
    bottom: 117px;
    border-radius: 20px;
    color: white;
    font-size: 32px;
    width: 296.38px;
    height: 82.61px;
    padding: 14px 33px;
    background: linear-gradient(#eea6fa, #d5a4f8);
    box-shadow: 0px 5px 8px 0px rgb(139, 137, 137);
  }

  p {
    color: linear-gradient(#eea6fa, #d5a4f8);
    font-size: 48px;
    left: 349px;
  }

  .purple_widget {
    opacity: 80%;
  }

  .main__next_button {
    position: absolute ;
    width: 100%;
    height: 100%;
    width: 120px;
    height: 120px;
    color: black;
    border-radius: 100%;
    background-color: rgba(241, 242, 246, 1);
    box-shadow: 0px 5px 8px 0px rgb(139, 137, 137);
    transition: background .1s linear, color .1s linear;
    left: 900px;
    top: 740px;
    z-index: 1000;
  }
