
body {
    font-family: 'Monda', sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    /* overflow: hidden; */
  }

.models {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background: url('./../img/2-background.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .models__photo {
    width: 100%;
    max-width: 800px;
  }